/big-blow.setup
/char-rnn.ipynb
/portfolio.html
/portfolio.org
/readtheorg.setup
/.ipynb_checkpoints/char-rnn-checkpoint.ipynb
/APD/.ipynb_checkpoints/APD-checkpoint.ipynb
/APD/notebook.tex
/APD/__pycache__/country_codes.cpython-35.pyc
/APD/choropleth.org
/APD/world.png
/APD/.Rhistory
/kv/.Rhistory
beers/beers-draft.py
/beers/beers-html.pdf
/beers/notebook.tex
/beers/output*
/beers/.ipynb_checkpoints/beers-checkpoint.ipynb
.gitignore
/beers/data/beers_files/*
post/.Rhistory
/beers/beers-latex/beers.aux
post/.Rhistory
